<div class="home-container">
    <div class="hero-background">
      <div class="overlay"></div>
  
      <div class="welcome-message">
        <h1 class="main-title">¡Bienvenido a la Academia Xavier!</h1>
        <h2 class="subtitle">Tu viaje hacia un futuro extraordinario comienza ahora</h2>
      </div>
    </div>
  
    <div class="content">
      <p class="intro-text">
        ¿Estás listo para explorar los límites de tus habilidades y alcanzar tu verdadero potencial?
        ¡Aquí, en la Academia Xavier, preparamos a los estudiantes para enfrentar el mundo con valentía y sabiduría!
      </p>
        <div class="cta-container">
        <button mat-raised-button color="primary" class="cta-button">¡Únete a nosotros!</button>
      </div>
    </div>
  </div>