<h1 mat-dialog-title>{{ isEditing ? "Editando estudiante" : "Creando nuevo estudiante" }}</h1>

<div mat-dialog-content>
  <form [formGroup]="studentForm">
    <div class="grid">
      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstName" matInput />
          <mat-error *ngIf="studentForm.get('firstName')?.hasError('required')">
            El nombre es obligatorio.
          </mat-error>
          <mat-error *ngIf="studentForm.get('firstName')?.hasError('minlength')">
            El nombre debe tener al menos 2 caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput />
          <mat-error *ngIf="studentForm.get('lastName')?.hasError('required')">
            El apellido es obligatorio.
          </mat-error>
          <mat-error *ngIf="studentForm.get('lastName')?.hasError('minlength')">
            El apellido debe tener al menos 2 caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Edad</mat-label>
          <input formControlName="age" matInput type="number" />
          <mat-error *ngIf="studentForm.get('age')?.hasError('required')">
            La edad es obligatoria.
          </mat-error>
          <mat-error *ngIf="studentForm.get('age')?.hasError('min')">
            La edad debe ser al menos 18 años.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Curso</mat-label>
          <input formControlName="course" matInput />
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-checkbox formControlName="isActive" color="primary">Activo</mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-dialog-close mat-button>Cerrar</button>
  <button (click)="onSubmit()" mat-button [disabled]="studentForm.invalid">Guardar</button>
</div>
